<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies - Tienda de Ropa</title>
    <link rel="stylesheet" href="../styles/terms.css">
</head>
<body>

    <header>
        <h1>Tienda de Ropa</h1>
        <nav>
            <a href="../index.html">Inicio</a> |
            <a href="sobreNosotros.html">Sobre Nosotros</a> |
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>

    <section>
        <h1>J3AT | Política de Cookies</h1>
        <br>
        <h2>Uso de Cookies</h2>
        <p>Nuestra tienda utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política de privacidad.</p>

        <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo para recordar información importante y mejorar la funcionalidad del sitio.</p>

        <h2>Tipos de Cookies</h2>
        <p>Utilizamos cookies esenciales y cookies de rendimiento para garantizar el funcionamiento adecuado del sitio y mejorar la experiencia de navegación.</p>

        <h2>Control de Cookies</h2>
        <p>Puedes ajustar la configuración de cookies en tu navegador. Consulta la ayuda de tu navegador para obtener instrucciones sobre cómo hacerlo.</p>

        <p>Al hacer clic en "Aceptar Cookies" a continuación, confirmas que estás de acuerdo con nuestra política de cookies.</p>

        <!-- Botón para aceptar las cookies -->
        <button onclick="aceptarCookies()">Aceptar Cookies</button>
    </section>

    <script src="../scripts/cookies.js"></script>
</body>
</html>