<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - Tienda de Ropa</title>
    <link rel="stylesheet" href="../styles/terms.css">
</head>
<body>

    <header>
        <h1>J3AT | Tienda de Ropa</h1>
        <nav>
            <a href="../index.html">Inicio</a> |
            <a href="sobreNosotros.html">Sobre Nosotros</a> |
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>

    <section>
        <h1>Política de Privacidad</h1>
        <br>
        <h2>1. Información recopilada</h2>
        <p>Nuestra tienda de ropa recopila la siguiente información personal:</p>
        <ul>
            <li>Nombre</li>
            <li>Apellido</li>
            <li>Dirección de correo electrónico</li>
        </ul>

        <h2>2. Uso de la información</h2>
        <p>La información recopilada se utiliza para los siguientes propósitos:</p>
        <ul>
            <li>Procesar y completar pedidos</li>
            <li>Enviar actualizaciones sobre pedidos</li>
            <li>Responder consultas y proporcionar soporte al cliente</li>
            <li>Personalizar la experiencia del usuario</li>
            <li>Enviar información promocional y ofertas especiales (con el consentimiento del usuario)</li>
        </ul>

        <h2>3. Seguridad</h2>
        <p>Nos comprometemos a garantizar la seguridad de la información personal proporcionada por nuestros clientes. Tomamos medidas para proteger la información contra el acceso no autorizado o la divulgación.</p>

        <h2>4. Divulgación a terceros</h2>
        <p>No compartimos información personal con terceros, excepto en situaciones en las que sea necesario para cumplir con los propósitos del negocio (por ejemplo, procesadores de pago).</p>

        <h2>5. Cookies</h2>
        <p>Nuestra tienda utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra <a href="cookies.html">Política de Cookies</a>.</p>

        <h2>6. Cambios en la política</h2>
        <p>Nos reservamos el derecho de actualizar nuestra política de privacidad en cualquier momento. Los cambios serán publicados en esta página.</p>

        <h2>7. Contacto</h2>
        <p>Si tienes preguntas sobre nuestra política de privacidad, puedes ponerte en contacto con nosotros a través de la página de <a href="contacto.html">Contacto</a>.</p>
    </section>

</body>
</html>
