<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Tienda de Ropa</title>
    <link rel="stylesheet" href="../styles/sobreNosotros.css">
</head>
<body>

    <header>
        <h1>J3AT | Tienda de Ropa</h1>
        <nav>
            <a href="../index.html">Inicio</a> |
            <a href="../templates/contacto.html">Contacto</a>
        </nav>
    </header>

    <section>
        <h2>¿Quiénes somos?</h2>
        <p>Somos una pequeña tienda de ropa ubicada en Gijón, fundada por Tristan, Javier, Jaime, Alvaro y Joaquín. Nuestra historia comenzó con la pasión compartida por la moda y el deseo de ofrecer a nuestra comunidad una experiencia única al comprar ropa.</p>
        <p>A lo largo de los años, hemos trabajado arduamente para seleccionar cuidadosamente las mejores prendas de moda y mantenernos al tanto de las últimas tendencias. Nos enorgullece ofrecer a nuestros clientes una cuidada selección de ropa de alta calidad para satisfacer sus gustos y estilos individuales.</p>
        <p>En nuestra tienda, nos esforzamos por proporcionar un ambiente acogedor y personalizado, donde cada cliente se sienta especial. Valoramos la relación con nuestra comunidad y estamos comprometidos a brindar un servicio excepcional.</p>
        <p>A lo largo de nuestra evolución, hemos ampliado nuestra gama de productos y servicios para adaptarnos a las necesidades cambiantes de nuestros clientes. Desde ropa casual hasta elegante, estamos aquí para acompañarte en cada ocasión importante de tu vida.</p>
        <p>Además, en J3AT, no solo nos apasiona la moda, sino que también estamos comprometidos con la sostenibilidad. Trabajamos activamente para ofrecer opciones de ropa ecoamigables y reducir nuestro impacto en el medio ambiente.</p>
        <p>No solo somos una tienda, sino un espacio vibrante donde organizamos eventos y colaboramos con diseñadores locales. Estamos constantemente buscando maneras de destacar talento emergente y ofrecer a nuestros clientes experiencias únicas.</p>
        <p>Valoramos a nuestros clientes, por eso ofrecemos programas de fidelización y descuentos exclusivos. Únete a nuestra comunidad y disfruta de beneficios adicionales cada vez que elijas J3AT como tu destino de compras de moda.</p>
        <p>En J3AT, estamos arraigados en la comunidad de Gijón. Participamos activamente en iniciativas locales, donamos a causas benéficas y creemos en devolver a la comunidad que nos ha apoyado. Únete a nosotros para hacer una diferencia juntos.</p>
        <p>Además de nuestra increíble colección de ropa, ofrecemos servicios exclusivos como personal shoppers, servicios de ajuste y eventos privados de compras. Tu experiencia en J3AT va más allá de la simple adquisición de prendas; es un viaje personalizado hacia tu estilo único.</p>
        <p>Nos encontramos en [Pl. Italia, 3, 33206 Gijón, Asturias], en el corazón de Gijón, donde esperamos recibirte con los brazos abiertos. ¡Ven y descubre la moda que amamos compartir contigo!</p>
        <br>
        <iframe
            width="100%"
            height="300"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.670656554991!2d-5.663690984303977!3d43.535691479726595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3619bbce0c18df%3A0x6bc9650982a38976!2sPlaza%20de%20Italia%2C%203%2C%2033206%20Gij%C3%B3n%2C%20Asturias%2C%20Spain!5e0!3m2!1sen!2sus!4v1642035317599!5m2!1sen!2sus"
            allowfullscreen=""
            loading="lazy"
        ></iframe>
        <br>
        <p>Explora la fascinante trayectoria de nuestras ventas, detallada año tras año desde el 2020 hasta el 2023 en el siguiente gráfico.</p>
        <canvas width="400" height="200"></canvas>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../scripts/SobreNosotros.js"></script>
</body>
</html>