
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

    @font-face {
        font-family: 'Oswald';
        src: url(/assets/OFL.txt);
    }
    @font-face {
        font-family: 'Titulo';
        src: url(/assets/Mina-Bold.ttf);
    }
    *{
        font-family: 'Oswald';
    }
    @font-face {
        font-family: 'Titulo2';
        src: url(/assets/Dhurjati-Regular.ttf);
    }


body {
    
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
}

header {
    background-color: #000; 
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em; 
}

nav {
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold; 
    display: inline-block;
}
nav a:hover{
    color:#0a1aff;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 8px 20px 54px -5px rgba(0,0,0,0.58);
-moz-box-shadow: 8px 20px 54px -5px rgba(0,0,0,0.58);
box-shadow: 8px 20px 54px -5px rgba(0,0,0,0.58);
}
section > * {
    margin-bottom: 20px; /* Aplica un margen inferior de 20 píxeles a todos los elementos directos dentro de section */
  }
  
  section > :last-child {
    margin-bottom: 0; 
  }
h1{
    text-transform: uppercase;
    font-family: 'Titulo';
    
}
h2{
    font-family:'Titulo2';
}
section h2 {
    color: #333; 
}

section p {
    margin-bottom: 15px;
    color: #555; 
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin-bottom: 20px;
}
section h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
section p{
    text-align: justify;
}
button{
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    background: #002D62;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    outline: 5px double #555;
    
}
button:hover{
    color:#002D62;
    background: rgb(169, 158, 158);
}